@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

::selection {
  background: lighten($theme-color-primary, 30%);
}

html {
  font-weight: $theme-default-font-weight;
}

body {
  overflow-y: hidden;
}
button,
.btn {
  text-transform: uppercase;
}

label {
  font-weight: 100;
  font-size: 10px;
  text-transform: uppercase;
}

select {
  text-transform: uppercase;
  font-size:10px;
}