@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

::selection {
  background: lighten($theme-color-primary, 30%);
}

html {
  font-weight: $theme-default-font-weight;
}

button,
.btn {
  text-transform: uppercase;
}
