@import "~styles/global/variables";

$border-color: lighten($theme-color-muted, 20);

.container {
  border-left: 1px solid $border-color;
  padding: 10px;
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: white;

  &:last-child {
    border-right: 1px solid $border-color;
  }
}

.plugins {
  margin: 20px 0px;
}
