@import "~styles/global/variables";

.brand {
  display: inline-block;
}

.play {
  float: right;
  margin-top: 8px;
}

.title {
  text-transform: uppercase;
}

.file {
  font-size: 10px;
  line-height: 10px;
  padding-top: 5px;
  color: $theme-color-primary;
}

.container {
  composes: container from "../container.scss";
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  background-color: #2D3047;
}

.spacer {
  display: flex;
  flex-grow: 1;
  background: lighten($theme-color-secondary, 25);
}

$play-button-outer-size: 25;
$play-button-size: 10;

.buttonOuter {
  margin: 25% auto;
  width: $play-button-outer-size;
  height: $play-button-outer-size;
  position: relative;
  box-shadow: 0px 0px 1px #555;
  cursor: pointer;

  float: right;
  margin-top: 8px;
}

.playButton {
  margin: 0 auto;
  top: ($play-button-outer-size/2) - ($play-button-size/2) - 1;
  left: ($play-button-outer-size/2) - ($play-button-size/2);
  position: absolute;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $play-button-size/2 0 $play-button-size/2 $play-button-size;
  border-color: transparent transparent transparent $theme-color-text;
}

.stopButton {
  margin: 0 auto;
  top: ($play-button-outer-size/2) - ($play-button-size/2) - 1;
  left: ($play-button-outer-size/2) - ($play-button-size/2);
  position: absolute;  
  width: $play-button-size;
  height: $play-button-size;
  background-color: $theme-color-text;
}

.buttonOuter:hover {
  background-color: $theme-color-primary;
  box-shadow: none;
}

.buttonOuter:hover .playButton {
  border-color: transparent transparent transparent #fff;
}

.buttonOuter:hover .stopButton  {
  background-color: #fff;
}


